<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

  <div class="head" th:fragment="mainHead">
    <a href="/">
      <img th:if="${session.theme == null || session.theme == 'dark-theme'}"
           src="/assets/img/astracloud_logo.svg" alt="astra" width="200">

      <img th:if="${session.theme == 'light-theme'}"
           src="/assets/img/astracloud_logo_light.svg" alt="astra" width="200">

      <img th:if="${session.theme == 'high-contrast'}"
           src="/assets/img/astracloud_logo.svg" alt="astra" width="200">
    </a>
  </div>

  <nav th:fragment="mainNav">
    <p><a href="/">Strona główna</a></p>
    <p id="diskHeaderAction"><a href="/account">Dysk</a></p>
    <p sec:authorize="isAnonymous()" id="loginHeaderAction"><a href="/login">Logowanie</a></p>
    <p sec:authorize="isAnonymous()" id="registerHeaderAction"><a href="/register">Rejestracja</a></p>
    <p sec:authorize="isAuthenticated()" id="accountDataAction"><a href="/account-data">Konto</a></p>
    <p sec:authorize="isAuthenticated()" id="logoutHeaderAction"><a href="/api/logout">Wyloguj</a></p>

    <div class="theme-div">
      <form th:action="@{/theme/switch}" method="post">
        <input type="hidden" name="theme"
               th:value="${session.theme == 'light-theme' ? 'high-contrast' : (session.theme == 'high-contrast' ? 'dark-theme' : 'light-theme')}"/>

        <button type="submit" class="theme-button">
          <span th:text="${session.theme == 'light-theme' ? 'Jasny' : (session.theme == 'high-contrast' ? 'Kontrast' : 'Ciemny')}"></span>
        </button>
      </form>
    </div>
  </nav>

</body>
</html>