<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstraCloud Spring</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body th:classappend="${session.theme != null ? session.theme : 'dark-theme'}">
<header>
    <div class="head">
        <a href="/"><img src="/assets/img/astracloud_logo.svg" alt="astra" width="200"></a>
    </div>
    <nav>
        <p><a href="/">Strona główna</a></p>
        <p id="diskHeaderAction"><a href="/account">Dysk</a></p>
        <p sec:authorize="isAnonymous()" id="loginHeaderAction"><a href="/login">Logowanie</a></p>
        <p sec:authorize="isAnonymous()" id="registerHeaderAction"><a href="/register">Rejestracja</a></p>
        <p id="logoutHeaderAction"><a href="/api/logout">Wyloguj</a></p>
        <!-- Przycisk zmiany motywu -->
        <p style="display:inline;">
        <form th:action="@{/theme/switch}" method="post" style="display:inline;">
            <input type="hidden" name="theme"
                   th:value="${session.theme == 'light-theme' ? 'dark-theme' : 'light-theme'}"/>
            <button type="submit" class="theme-toggle">
                <span th:text="${session.theme == 'light-theme' ? 'Ciemny' : 'Jasny'}"></span>
            </button>
        </form>
        </p>
    </nav>
</header>
<main>
    <div class="container">
        <div class="uploaderDialog">
            <h2>Wyślij plik</h2>
            <input type="file" id="fileInput">
            <h6 id="maxupload">Maksymalny rozmiar: 500MB</h6>
            <button id="uploadButton">Wyślij</button>
            <span id="uploadBar"></span>
            <span id="status"></span>
        </div>
        <div class="filelistDialog">
            <h2>Lista plików</h2>
            <div class="flcontainer">
                <div class="flheader">
                    <span class="white"><strong>Sortuj:</strong></span>
                    <span id="asc"> rosnąco </span>
                    <span id="desc"> malejąco </span>
                    <br><br>
                    <span class="white"><strong>Szukaj: </strong></span>
                    <form id="sForm">
                        <input type="text" name="search" id="searchInput" placeholder="nazwa...">
                    </form>
                </div>
                <div class="filelist"></div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!--<script src="static/version.js"></script>-->
    <p>astracloud spring indev</p>
</footer>
    <!--<script src="static/main.js"></script>-->
    <!--<script src="static/headerHandler.js"></script>-->

<!--to poniżej to tymczasowa reinkarnacja scripts/script.js na potrzeby testow-->
<script>

    const ascObj = document.getElementById('asc');
    const descObj = document.getElementById('desc');

    const uploadBtn = document.getElementById('uploadButton');
    const uploadForm = document.getElementById('fileInput');
    const uploadBar = document.getElementById('uploadBar');

    const searchInput = document.getElementById('searchInput');
    const searchForm = document.getElementById('sForm');

    let user = null;
    let fileList = [];
    let sortMode = 0;
    let uploading = 0;

    // endpoint na zalogowanego usera
    fetch('/api/me')
        .then(res => {
            if (!res.ok) {
                window.location.href = '/login';
                throw new Error("Brak sesji");
            }
            return res.json();
        })
        .then(data => {
            user = data.login;
            fetchList();
        })
        .catch(err => console.error(err));

    function fetchList() {
        if (!user) return;
        const fetchUrl = '/api/files/'+user;
        fetch(fetchUrl)
            .then(res => res.json())
            .then(files => {
                fileList = files;
                fileList = sortList(fileList, sortMode);
                buildList(fileList);
            });
    }

    // uploadowanie
    function uploadFile() {
        const file = uploadForm.files[0];
        if (!file) return;

        //walidacja długości nazwy pliku
        //zgodnie z tym co wprowadziliśmy na backendzie
        if (file.name.length > 150) {
            alert("Nazwa pliku jest za długa.\nMaksymalna ilość: 150 znaków.");
            uploadForm.value = null;
            return;
        }

        console.log("Rozpoczynam przesyłanie...");
        uploading = 1;

        // zmieńmy to na fetch w wolnej chwili
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/upload');

        uploadBar.style.height = '5px';
        uploadBar.style.width = 0;
        uploadBtn.style.backgroundColor = 'gray';
        uploadBtn.style.width = '110.5px';

        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                const percentComplete = Math.round((e.loaded / e.total) * 100);
                uploadBar.style.width = (percentComplete-10) + '%';
            }
        };

        xhr.onload = function() {
            if (xhr.status == 200) {
                fetchList();
                buildList(sortList(fileList, 0));
                uploadBtn.innerHTML = 'Przesłano!';
                uploadBtn.style.backgroundColor = 'green';
                uploadBar.style.height = 0;
                setTimeout(() => {
                    uploadBtn.innerHTML = 'Wyślij';
                    uploadBtn.style.backgroundColor = 'purple';
                    uploadBtn.style.width = '76px';
                    uploadForm.value = null;
                    uploading = 0;
                }, 1000)
            } else {
                uploadBtn.innerHTML = 'Błąd!';
                uploadBtn.style.backgroundColor = 'red';
                uploadBtn.style.width = '76px';
                uploadBar.style.height = 0;
                console.log("Błąd przesyłania: "+xhr.status);
                uploadForm.value = null;
                uploading = 0;
            }
        };

        xhr.onerror = function() {
            uploadBtn.innerHTML = 'Błąd!';
            uploadBtn.style.backgroundColor = 'red';
            uploadBtn.style.width = '76px';
            uploadBar.style.height = 0;
            console.log("Błąd przesyłania: błąd sieci");
            uploadForm.value = null;
            uploading = 0;
        }

        const formData = new FormData();
        formData.append('file', file);
        xhr.send(formData);
    }

    // usuwanie!
    function deleteFile(fileId, button) {
        //R.I.P. stary komunikat
        if (!confirm("Na pewno?")) return;
        console.log("Usuwam ID " + fileId);

        fetch('/api/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: fileId })
        })
            .then(res => res.json())
            .then(result => {
                if (result.status === 'ok') {
                    button.closest('.listItem').remove();
                    fileList = fileList.filter(file => file.id !== fileId);
                } else {
                    console.log("Błąd usuwania " + result.message);
                    alert('Błąd: ' + result.message);
                }
            });
    }

    // zmiana nazwy!
    function renameFile(fileId, oldName) {
        const newName = prompt("Wprowadź nową nazwę pliku:", oldName);
        if (!newName || newName === oldName || newName.trim() === '') return;
        if (newName.length > 150) {
            alert("Nazwa pliku jest za długa.\nMaksymalna ilość: 150 znaków.");
            uploadForm.value = null;
            return;
        }

        console.log("Zmieniam nazwę ID " + fileId + " na " + newName);

        fetch('/api/rename', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: fileId, newName: newName })
        })
            .then(res => res.json())
            .then(result => {
                if (result.status === 'ok') {
                    //ponownie pobieramy listę plików
                    fetchList();
                } else {
                    console.log("Błąd zmiany nazwy: " + result.message);
                    alert('Błąd: ' + result.message);
                }
            });
    }

    // lista plikow, budowanie html
    function buildList(fileList) {
        const flDiv = document.querySelector('.filelist');
        flDiv.innerHTML = "<h1>Wczytywanie...</h1>";

        const editIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>`;

        //dla kazdego pliku generujemy div'a
        const html = fileList.map(file => {
            const readable = new Date(file.date * 1000).toLocaleString();
            return `
        <div class="listItem" data-id="${file.id}">
            <span class="chdate">Data modyfikacji: ${readable}</span>
            <div class="item">
                <a href="/uploads/${user}/${file.name}">${file.name} </a>
                <button class="renameButton" data-id="${file.id}" data-name="${file.name}">${editIcon}</button>
	            <button class="deleteButton" data-id="${file.id}">Usuń</button>
            </div>
        </div>
        `
        }).join('');
        flDiv.innerHTML = `${html}`;

        //dodajemy eventy dla kazdego przycisku usuwania
        document.querySelectorAll('.deleteButton').forEach(button => {
            button.addEventListener('click', () => {
                const id = button.dataset.id;
                deleteFile(id, button);
            });
        });

        //eventy dla zmiany nazwy
        document.querySelectorAll('.renameButton').forEach(button => {
            button.addEventListener('click', () => {
                const id = button.dataset.id;
                const oldName = button.dataset.name;
                renameFile(id, oldName);
            });
        });
    }

    // sortowanie
    function sortList(fileList, sortMode) {
        const newlist = fileList.slice();

        //sortowanie rosnąco edycja javascript
        function asc(a, b) {
            if (a.name < b.name) return -1;
            if (a.name > b.name) return 1;
            return 0;
        }

        //sortowanie malejąco edycja javascript
        function desc(a, b) {
            if (a.name > b.name) return -1;
            if (a.name < b.name) return 1;
            return 0;
        }

        switch (sortMode) {
            case 0:
                newlist.sort(asc);
                ascObj.style.color = 'white';
                descObj.style.color = 'grey';
                break;
            case 1:
                newlist.sort(desc);
                ascObj.style.color = 'grey';
                descObj.style.color = 'white';
                break;
        }
        return newlist;
    }

    function searchList(searchString) {
        //backend sprawdza poprawność tokenu i usera zakodowanego w tokenie
        fetch(`/api/search?search=${encodeURIComponent(searchString)}`)
            .then(res => res.json())
            .then(files => {
                fileList = files;
                //sortujemy i budujemy div
                fileList = sortList(fileList, sortMode);
                buildList(fileList);
            })
        return fileList;
    }

    // main
    fetchList();

    // eventy rozmaite
    uploadBtn.addEventListener('click', () => {
        if (!uploading && document.getElementById('fileInput').files[0] != undefined) {
            uploadFile();
            uploadBtn.innerHTML = 'Przesyłanie...';
        }
    });
    ascObj.addEventListener('click', () => {
        buildList(sortList(fileList, 0));
    })
    descObj.addEventListener('click', () => {
        buildList(sortList(fileList, 1));
    })
    // searchForm.addEventListener('input', function(event) {
    //     event.preventDefault();
    //     console.log("Search: "+searchInput.value);
    //     buildList(searchList(searchInput.value));
    // });
    searchInput.addEventListener('input', function(event) {
        console.log("Search: " + searchInput.value);
        searchList(searchInput.value);
    });
</script>
</body>
</html>