<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AstraCloud Spring</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body th:classappend="${session.theme != null ? session.theme : 'dark-theme'}">
<header>
<!--  <div class="maintenance"><h3>W przypadku utraty dostępu do konta, należy zarejestrować się ponownie w celu odzyskania dostępu do plików.</h3></div>-->
  <div th:replace="~{fragments/header :: mainHead}"></div>
  <div th:replace="~{fragments/header :: mainNav}"></div>
</header>
<main>
  <div class="myForm">
    <form id="loginForm" action="/api/login" method="POST">
      <legend>Logowanie</legend><br>
      <input type="text" name="username" id="username" placeholder="login..." required /><br>
      <input type="password" name="password" id="password" required placeholder="hasło..." minlength="8" /><br>
      <button type="submit">Zaloguj</button><br>
    </form>
    <div id="jsCode"><span th:if="${errorMessage}" th:text="${errorMessage}"></span></div>
  </div>
</main>
<footer>
  <p th:replace="~{fragments/footer :: version}"></p>
</footer>

<script src="/assets/js/login.js"></script>

</body>
</html>