<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstraCloud Spring</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body th:classappend="${session.theme != null ? session.theme : 'dark-theme'}">
<header>
    <div th:replace="~{fragments/header :: mainHead}"></div>
    <div th:replace="~{fragments/header :: mainNav}"></div>
</header>
<main class="myForm">
    <form id="registerForm" action="/api/register" method="POST">
        <legend>Rejestracja</legend><br>
        <label for="email">Adres e-mail:</label><br>
        <input type="email" name="email" id="email" required><br>
        <label for="username">Login:</label><br>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Hasło:</label><br>
        <input type="password" name="password" id="password" required minlength=8><br>
        <label for="passwordConfirm">Powtórz hasło:</label><br>
        <input type="password" name="passwordConfirm" id="passwordConfirm" required minlength=8><br>
        <button type="submit">Zarejestruj</button>
<!--        <script src="static/register.js"></script>-->
    </form>
    <div id="jsCode"></div>
</main>
<footer>
    <p th:replace="~{fragments/footer :: version}"></p>
</footer>

<script src="/assets/js/register.js"></script>
</body>
</html>